html body {
  margin: 0;
  padding: 0;
}
.theSmall {
  width: 100px;
  height: 100px;
  border: 1px solid;
  vertical-align: middle;
  font-size: 30px;
  font-weight: 600;
}

.theBig {
  width: 300px;
  margin-right: 20px;
}

.theEnd {
  pointer-events:none;
}